body{
    background-color:#469be5 ;
    display: flex;
}

#alvaro {
    width: 250px;
    margin-top: 8vh;
}

#fase{
    width: 700px;
    height: 700px;
    background-image: url(../assets/mapa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#mapa{
    width: 100%;
}

#personagem{
    width: 30px;
}

.instrucao{
    display: flex;
}

.falas {
    margin-top: 10vh;
    width: 300px;
    height: 200px;
    text-align: center;
}

.game-container {
    display: flex;
    width: 100%;
}